
directory=toolboxes/magnetic/h-convergence/cube

case.dimension=3
#case.discretization=Pchv1
case.mode=h-convergence

[magnetic]
filename=$cfgdir/cube.json
null-space.method=none # none, saddle-point, regularized-formulation
#solver=Newton

#verbose=1
verbose_solvertimer=1

#pc-type=lu
#ksp-type=preonly
snes-monitor=1
ksp-monitor=1
ksp-converged-reason=

[case.mode.h-convergence]
hsize=0.2
hsize=0.1
hsize=0.05

measures=Norm_error-evaluated_L2-error
#measures=Norm_error-evaluated_H1-error
#measures=Norm_error-evaluated_SemiH1-error
slopes=1
#slopes=1
#slopes=1
