valid-x=0
valid-y=0
valid-z=0
compute-A=true
compute-B=true

[biotsavart]
unit=mm
hsize=0.1

[gmsh]
filename=$cfgdir/turn.geo
hsize=0.1

[functions]
# j={-0.03125*58e3*2/Pi*y/sqrt(x*x+y*y),0.03125*58e3*2/Pi*x/sqrt(x*x+y*y),0}:x:y:z
# b={0,0,-1e-4*Pi*58e3*0.03125/Pi*((z-2.5)*log((2+sqrt(2^2+(2.5-z)^2))/(1+sqrt(1^2+(2.5-z)^2)))-(z+2.5)*log((2+sqrt(2^2+(z+2.5)^2))/(1+sqrt(1+(z+2.5)^2))))}:x:y:z
j={-0.03125*58e3*2/Pi*y/(x*x+y*y),0.03125*58e3*2/Pi*x/(x*x+y*y),0}:x:y:z

# bz = -(
#   log((z-H)+sqrt((z-H)*(z-H)+R1*R1))
# - log((z-H)+sqrt((z-H)*(z-H)+R2*R2))
# - log((z+H)+sqrt((z+H)*(z+H)+R1*R1))
# + log((z+H)+sqrt((z+H)*(z+H)+R2*R2))
#       ) * mu_0 * 0.5 * J * R1;

b={0,0,0.5*(-58e3*0.03125*4/(2*Pi))*(4*Pi*1e-4)*(log((z-2.5)+sqrt((z-2.5)^2+1^2))-log((z-2.5)+sqrt((z-2.5)^2+2^2))-log((z+2.5)+sqrt((z+2.5)^2+1^2))+log((z+2.5)+sqrt((z+2.5)^2+2^2)))}:x:y:z
