directory=toolboxes/thermoelectric/quarterturn

case.discretization=P1 #P1,P2

[thermo-electric]
filename=$cfgdir/quarterturn.json

mesh.filename=$cfgdir/quarterturn.geo
gmsh.partition=1

#[thermo-electric.gmsh]
#scale=1000 # from mm to m

[thermo-electric.heat]
#initial-solution.temperature=293
#verbose=1
verbose_solvertimer=1
pc-type=gamg
ksp-monitor=1

[thermo-electric.electric]
verbose_solvertimer=1
pc-type=gamg
ksp-monitor=1
