stokes=1
newton=0
picard=1
blockns=1

mu=0.001
rho=0.001
pulsatile=0

filename=$top_srcdir/benchmarks/navierstokes/phantom/mean_uln_80_1.dat
## Si pulsatile =0 il faut prendre phantom_cst.bc sinon prendre phantom.bc
bc-file=$top_srcdir/benchmarks/navierstokes/phantom/phantom_cst.bc

[gmsh]
filename=M3_phantom_np48.msh


[exporter]
geometry=static
path=ensightgold

[bdf]
time-step=1e-2
time-initial=0
time-final=2.02
order=2
save=1
#restart=true
#restart.at-last-save=false
#restart.step-before-last-save=2
rank-proc-in-files-name=true

[functions]
g={0,0,82*(1-4*(x*x+y*y)/25)}:x:y:z
h={0,0,0}

[blockns]
cd=true
pcd=true

[blockns.pmm]
# consider diagonal pressure mass matrix
diag=0

[blockns.pcd]
# CL at inflow of pressure
inflow=Robin
# CL at outflow of pressure
outflow=Dirichlet#Neumann
# Mp Fp^-1 Ap : 1, other Ap Fp^-1 Mp
order=1

# Ap : diffusion operator
[Ap]
reuse-prec=true
pc-type=gamg
ksp-monitor=1
pc-gamg-type=agg
pc-gamg-agg-nsmooths=1
pc-gamg-threshold=0 #1e-4
pc-gamg-set-sym-graph=true
ksp-rtol=1e-6
ksp-maxit=300

# pressure convection-diffusion operator
[Fp]
pc-type=gamg

# velocity convection diffusion operator
[Fu]
reuse-prec=true
pc-type=fieldsplit
ksp-rtol=1e-6
ksp-monitor=1
#ksp-maxit-reuse=200
fieldsplit-use-components=1
fieldsplit-type=additive

[Fu.fieldsplit-0]
pc-type=gamg#lu
ksp-type=preonly
pc-gamg-type=agg
pc-gamg-agg-nsmooths=1
pc-gamg-threshold=0 #1e-4
pc-gamg-set-sym-graph=true
reuse-prec=true

[Fu.fieldsplit-1]
pc-type=gamg#lu
ksp-type=preonly
pc-gamg-type=agg
pc-gamg-agg-nsmooths=1
pc-gamg-threshold=0 #1e-4
pc-gamg-set-sym-graph=true
reuse-prec=true

[Fu.fieldsplit-2]
pc-type=gamg#lu
ksp-type=preonly
pc-gamg-type=agg
pc-gamg-agg-nsmooths=1
pc-gamg-threshold=0 #1e-4
pc-gamg-set-sym-graph=true
reuse-prec=true

# pressure mass matrix
[Mp]
reuse-prec=true
pc-type=gamg
ksp-monitor=1
pc-gamg-type=agg
pc-gamg-agg-nsmooths=1
pc-gamg-threshold=0 #1e-4
pc-gamg-set-sym-graph=true
ksp-rtol=1e-6
ksp-maxit=300


[ns]
preconditioner=petsc
pc-type=gasm
sub-pc-type=lu
sub-pc-factor-mumps.icntl-14=100
tol=1e-5
maxit=50
ksp-rtol=1e-8
ksp-monitor=1
ksp-maxit=100#30
ksp-type=gcr
ksp-use-initial-guess-nonzero=false
gcr-restart=100

