
/#CTestConfig.cmake#
/#ctest.make#
/.gitignore~
/.kdev4
/CMakeCache.txt
/CMakeFiles
/CPackConfig.cmake
/CPackSourceConfig.cmake
/CTestTestfile.cmake
/Debug
/Makefile
/Makefile.headers
/Makefile.in
/NEWS.html
/NEWS.pdf
/NEWS.tex
/NEWS.txt
/Templates
/Testing
/aclocal.m4
/admin
/auto
/autom4te.cache
/cmake_install.cmake
/configure
/ctest.make
/life-ctest-continuous.cmake
/life.kdev4
/lifeconfig.h.in~
/octave-core
/opt
/package.m4
/subdirs
/tools
/usb_modeswitch.conf
