[submodule "contrib/nlopt"]
	path = feelpp/contrib/nlopt
	url = https://github.com/feelpp/nlopt.git
[submodule "contrib/hpddm"]
	path = feelpp/contrib/hpddm
	url = https://github.com/feelpp/hpddm.git
[submodule "contrib/jsonlab"]
	path = feelpp/contrib/jsonlab
	url = https://github.com/fangq/jsonlab.git
[submodule "contrib/ipopt"]
	path = feelpp/contrib/ipopt
	url = https://github.com/feelpp/ipopt.git
[submodule "contrib/pybind11"]
	path = feelpp/contrib/pybind11
	url = https://github.com/feelpp/pybind11.git
[submodule "contrib/mongodb"]
	path = feelpp/contrib/mongocxx
	url = https://github.com/feelpp/mongo-cxx-driver.git
[submodule "contrib/kwsys"]
	path = feelpp/contrib/kwsys
	url = https://github.com/feelpp/kwsys.git
[submodule "contrib/viewer"]
	path = contrib/viewer
	url = https://github.com/feelpp/viewer.git
[submodule "benchmarks/benchmark"]
	path = benchmarks/benchmark
	url = https://github.com/feelpp/benchmark
[submodule "feelpp/contrib/fmilib"]
	path = feelpp/contrib/fmilib
	url = https://github.com/feelpp/fmi-library.git
[submodule "feelpp/contrib/tabulate"]
	path = feelpp/contrib/tabulate
	url = https://github.com/feelpp/tabulate.git
[submodule "feelpp/contrib/parmmg"]
	path = feelpp/contrib/parmmg
	url = https://github.com/feelpp/ParMmg
[submodule "feelpp/contrib/mmg"]
	path = feelpp/contrib/mmg
	url = https://github.com/feelpp/mmg
[submodule "feelpp/contrib/indicators"]
	path = feelpp/contrib/indicators
	url = https://github.com/feelpp/indicators.git
[submodule "feelpp/contrib/simple-web-server"]
	path = feelpp/contrib/simple-web-server
	url = https://gitlab.com/feelpp/Simple-Web-Server.git
[submodule "feelpp/contrib/range-v3"]
	path = feelpp/contrib/range-v3
	url = https://github.com/feelpp/range-v3.git
[submodule "feelpp/contrib/matplot"]
	path = feelpp/contrib/matplot
	url = https://github.com/feelpp/matplotplusplus.git
[submodule "feelpp/contrib/cpr"]
	path = feelpp/contrib/cpr
	url = https://github.com/feelpp/cpr.git
[submodule "feelpp/contrib/boost/hana"]
	path = feelpp/contrib/boost/hana
	url = https://github.com/feelpp/hana.git
[submodule "feelpp/contrib/eigen"]
	path = feelpp/contrib/eigen
	url = https://gitlab.com/feelpp/eigen.git
[submodule "feelpp/contrib/fmt"]
	path = feelpp/contrib/fmt
	url = https://github.com/feelpp/fmt.git
