*.ts/
*.exports/
downloads/
build*/
*.bak
*.aux
*.cppbck
*.hppbck
*.log
*.orig
*.vim
*.pch
*.gch
__pycache__
/#CTestConfig.cmake#
/#ctest.make#
/.DS_Store
*~
/.kdev4
/CMakeCache.txt
/CMakeFiles
/CMakeLists.txt.doc
/CMakeLists.txt~
/CPackConfig.cmake
/CPackSourceConfig.cmake
/CTestTestfile.cmake
/Debug
/GITREVISION
/Makefile
/Makefile.headers
/Makefile.in
/NEWS.html
/NEWS.pdf
/NEWS.tex
/NEWS.txt
/README.html
/README.org~
/SVNREVISION
/TAGS
/Testing
/Untitled
/aclocal.m4
/admin
/auto
/autom4te.cache
/cmake_install.cmake
/ctest.make
/feel-ctest-continuous.cmake
/feel.kdev4
/feel_revision
/feelconfig.h.in~
/life.kdev4
/octave-core
/opt
/package.m4
/subdirs
/usb_modeswitch.conf
/testsuite/feeldiscr/#test_mortar.cpp#
/testsuite/feeldiscr/.#test_mortar.cpp
/contrib/eigen-eigen*
*.sw?
\#*
\.\#*
/applications/crb/GeoHeatDiffusion/geoheatdiffusionapp.cpp
/applications/crb/heatshield/heatshieldminimalversion1.cfg
/applications/crb/heatshield/heatshieldminimalversion1.xml.in
/applications/crb/heatshield/heatshieldminimalversion1app.cpp
/applications/crb/heatshield/heatshieldminimalversion2.cfg
/applications/crb/heatshield/heatshieldminimalversion2.xml.in
/applications/crb/heatshield/heatshieldminimalversion2app.cpp
/applications/crb/heatshield/heatshieldminimalversion3.cfg
/applications/crb/heatshield/heatshieldminimalversion3.xml.in
/applications/crb/heatshield/heatshieldminimalversion3app.cpp
/applications/crb/BenchmarkGrepl/benchmarkgrepl-linear-elliptic1.cfg
/applications/crb/BenchmarkGrepl/benchmarkgrepl-linear-elliptic1.xml.in
/applications/crb/BenchmarkGrepl/benchmarkgrepl-linear-elliptic1app.cpp
/applications/crb/BenchmarkGrepl/benchmarkgrepl-linear-elliptic2.cfg
/applications/crb/BenchmarkGrepl/benchmarkgrepl-linear-elliptic2.xml.in
/applications/crb/BenchmarkGrepl/benchmarkgrepl-linear-elliptic2app.cpp
/applications/crb/BenchmarkGrepl/benchmarkgrepl-linear-elliptic3.cfg
/applications/crb/BenchmarkGrepl/benchmarkgrepl-linear-elliptic3.xml.in
/applications/crb/BenchmarkGrepl/benchmarkgrepl-linear-elliptic3app.cpp
/applications/crb/BenchmarkGrepl/benchmarkgrepl-nonlinear-elliptic1.cfg
/applications/crb/BenchmarkGrepl/benchmarkgrepl-nonlinear-elliptic1.xml.in
/applications/crb/BenchmarkGrepl/benchmarkgrepl-nonlinear-elliptic1app.cpp
/applications/crb/BenchmarkGrepl/benchmarkgrepl-nonlinear-elliptic2.cfg
/applications/crb/BenchmarkGrepl/benchmarkgrepl-nonlinear-elliptic2.xml.in
/applications/crb/BenchmarkGrepl/benchmarkgrepl-nonlinear-elliptic2app.cpp
/applications/crb/BenchmarkGrepl/benchmarkgrepl-nonlinear-elliptic3.cfg
/applications/crb/BenchmarkGrepl/benchmarkgrepl-nonlinear-elliptic3.xml.in
/applications/crb/BenchmarkGrepl/benchmarkgrepl-nonlinear-elliptic3app.cpp
/applications/crb/thermalblock/thermalblockfreeapp.cpp
/applications/crb/thermalblock/thermalblockminimalversionapp.cpp
/contrib/nlopt-autoreconf
/contrib/nlopt-configure
/contrib/nlopt-distclean
/contrib/nlopt-nlopthpp
/contrib/nlopt-touch
/research/bubble/
/research/csmi/
/research/dot
/research/eye2brain
/research/fsi/
/research/gazomat/
/research/hamm/
/research/hifimagnet
/research/holo3
/research/lncmi
/research/onefeel1/
/research/onefeel2/
/research/pmp/
/research/po
/research/rb4areo/
/research/feelpp-book/
/research/tr
/research/hemotumpp
/research/phoretic_swimmer
/testsuite/feelcore/t
/cmake.configure
/research/chorus/
/research/solodem
ginac.pc
/applications/crb/thermalfin/thermalfinapp.cpp
/research/hpmortar/
/tools/scripts/buildkite/feelpp_build.sh
*.cfgbak
__pycache__
autom4te.cache
/applications/crb/heatsink-2d/heatsink2dapp.cpp
/applications/crb/opusheat/opusheat-stationaryapp.cpp
/applications/crb/opusheat/opusheatapp.cpp
/applications/crb/thermalbuilding/thermalbuildingapp.cpp
/contrib/paralution/
pyfeelpp-env
projects
*bak
/build*
feelpp/quickstart/laplacian/qs_laplacian/
doc/api/DocCmakeLists.doc
node_modules
feelppdb/
toolboxes/pyfeelpp-toolboxes/tests/*.exports/
toolboxes/pyfeelpp-toolboxes/tests/*.ts/
toolboxes/pyfeelpp-toolboxes/tests/Testing
toolboxes/pyfeelpp-toolboxes/tests/*.save/
toolboxes/pyfeelpp-toolboxes/tests/*.geo
toolboxes/pyfeelpp-toolboxes/tests/*.cfg
toolboxes/pyfeelpp-toolboxes/tests/*.json
toolboxes/pyfeelpp-toolboxes/tests/*.msh
toolboxes/pyfeelpp-toolboxes/tests/*.mesh.path
toolboxes/pyfeelpp-toolboxes/tests/*.csv
toolboxes/pyfeelpp-toolboxes/tests/*.h5
toolboxes/pyfeelpp-toolboxes/Testing/
feelpp/pyfeelpp/pytest-3.json
nohup.out
*.mesh.path
*.measures.csv
.FMUOutput/
dslog*
dsmodel*
request.
status.
feelpp/feel/feelcore/git.cpp
.mordicus-env
mor/BenchmarkGrepl/benchmarkgrepl-linear-elliptic1app.cpp
mor/BenchmarkGrepl/benchmarkgrepl-linear-elliptic2app.cpp
mor/BenchmarkGrepl/benchmarkgrepl-linear-elliptic3app.cpp
mor/BenchmarkGrepl/benchmarkgrepl-nonlinear-elliptic1-2Dapp.cpp
mor/BenchmarkGrepl/benchmarkgrepl-nonlinear-elliptic1-3Dapp.cpp
mor/BenchmarkGrepl/benchmarkgrepl-nonlinear-elliptic2-2Dapp.cpp
mor/BenchmarkGrepl/benchmarkgrepl-nonlinear-elliptic2-3Dapp.cpp
mor/BenchmarkGrepl/benchmarkgrepl-nonlinear-elliptic3-2Dapp.cpp
mor/BenchmarkGrepl/benchmarkgrepl-nonlinear-elliptic3-3Dapp.cpp
mor/BenchmarkGrepl/benchmarkgrepl-nonlinear-parabolic3app.cpp
mor/heat1d/heat1dapp.cpp
mor/unsteady_heat1d/unsteadyHeat1dapp.cpp

gmsh-config.err
python/pyfeelpp/feelpp/__init__.py
*.msh
**/.ipynb_checkpoints/**
mor/examples/linearelasticity3d/linearelasticity3dapp.cpp
mor/examples/heat3d/heat3dapp.cpp
**/crbdb
**/feelppdb
**/.bundle
**/vendor
**/Gemfile.lock
**/doc.rb
**/crbdb
**/feelppdb

**/Testing/Temporary/**