
/.gitignore~
/CMakeCache.txt
/CMakeFiles
/CPackConfig.cmake
/CPackSourceConfig.cmake
/CTestTestfile.cmake
/Debug
/Makefile
/Makefile.headers
/Makefile.in
/NEWS.html
/NEWS.pdf
/NEWS.tex
/NEWS.txt
/Templates
/Testing
/aclocal.m4
/admin
/auto
/autom4te.cache
/cmake_install.cmake
/configure
/lifeconfig.h.in~
/opt
/package.m4
/subdirs
/tools
