language: cpp
git:
  depth: 1
  submodules: false

matrix:
  include:
      # - env: BUILD="ubuntu-14.04,clang-3.6" DOCKERFILE="Dockerfile-14.04" TARGET_IMAGE="feelpp/develop:14.04" TARGET_BRANCH="${TRAVIS_BRANCH}" CMAKE_FLAGS="" CXXFLAGS="-O2 -DNDEBUG" FEELPP_CXX="clang++-3.6" FEELPP_CC="clang-3.6"
      #   sudo: required
      #   services:
      #       - docker
      # - env: BUILD="ubuntu-16.10,clang-3.9" DOCKERFILE="Dockerfile-16.10" TARGET_IMAGE="feelpp/develop:16.10-minimal" TARGET_BRANCH="${TRAVIS_BRANCH}" CMAKE_FLAGS="-DFEELPP_MINIMAL_BUILD=ON"  CXXFLAGS="-O2 -DNDEBUG" FEELPP_CXX="clang++-3.9" FEELPP_CC="clang-3.9"
      #   sudo: required
      #   services:
      #       - docker
      # - env: BUILD="ubuntu-16.04,clang-3.8" DOCKERFILE="Dockerfile-16.04" TARGET_IMAGE="feelpp/develop:16.04" TARGET_BRANCH="${TRAVIS_BRANCH}" CMAKE_FLAGS="" CXXFLAGS="-O2 -DNDEBUG" FEELPP_CXX="clang++-3.8" FEELPP_CC="clang-3.8"
      #   sudo: required
      #   services:
      #       - docker
      - env: BUILD="ubuntu-16.10,clang-3.9" FEELPP_CXX="clang++-3.9" FEELPP_CC="clang-3.9" TARGET_IMAGE="ubuntu:16.10" TARGET_BRANCH="${TRAVIS_BRANCH}" CMAKE_FLAGS="" CXXFLAGS="-O2 -DNDEBUG" 
        sudo: required
        services:
            - docker
      - env: BUILD="ubuntu-16.10,gcc-6.2" FEELPP_CXX="g++" FEELPP_CC="gcc" TARGET_IMAGE="ubuntu:16.10" TARGET_BRANCH="${TRAVIS_BRANCH}" CMAKE_FLAGS="-DFEELPP_MESH_MAX_ORDER=1" CXXFLAGS="-O1 -DNDEBUG" 
        sudo: required
        services:
            - docker
      - env: BUILD="debian-testing,gcc-6.3" FEELPP_CXX="g++" FEELPP_CC="gcc" CXXFLAGS="-O1 -DNDEBUG" TARGET_IMAGE="debian:testing" TARGET_BRANCH="${TRAVIS_BRANCH}" CMAKE_FLAGS="-DFEELPP_MESH_MAX_ORDER=1" 
        sudo: required
        services:
            - docker
      - env: BUILD="debian-testing,clang-3.9" FEELPP_CXX="clang++-3.9" FEELPP_CC="clang-3.9" CXXFLAGS="-O2 -DNDEBUG" TARGET_IMAGE="debian:testing" TARGET_BRANCH="${TRAVIS_BRANCH}" CMAKE_FLAGS="-DFEELPP_MESH_MAX_ORDER=1" 
        sudo: required
        services:
            - docker
      - env: BUILD="debian-sid,gcc-6.3" FEELPP_CXX="g++" FEELPP_CC="gcc" CXXFLAGS="-O1 -DNDEBUG" TARGET_IMAGE="debian:sid" TARGET_BRANCH="${TRAVIS_BRANCH}" CMAKE_FLAGS="-DFEELPP_MESH_MAX_ORDER=1" 
        sudo: required
        services:
            - docker
      - env: BUILD="debian-sid,clang-4.0" FEELPP_CXX="clang++-4.0" FEELPP_CC="clang-4.0" CXXFLAGS="-O2 -DNDEBUG" TARGET_IMAGE="debian:sid" TARGET_BRANCH="${TRAVIS_BRANCH}" CMAKE_FLAGS="-DFEELPP_MESH_MAX_ORDER=1" 
        sudo: required
        services:
            - docker
  allow_failures:
  - env: BUILD="ubuntu-16.10,gcc-6.2" FEELPP_CXX="g++" FEELPP_CC="gcc" TARGET_IMAGE="ubuntu:16.10" TARGET_BRANCH="${TRAVIS_BRANCH}" CMAKE_FLAGS="-DFEELPP_MESH_MAX_ORDER=1" CXXFLAGS="-O1 -DNDEBUG"
  - env: BUILD="debian-testing,gcc-6.3" FEELPP_CXX="g++" FEELPP_CC="gcc" CXXFLAGS="-O1 -DNDEBUG" TARGET_IMAGE="debian:testing" TARGET_BRANCH="${TRAVIS_BRANCH}" CMAKE_FLAGS="-DFEELPP_MESH_MAX_ORDER=1"
  - env: BUILD="debian-sid,gcc-6.3" FEELPP_CXX="g++" FEELPP_CC="gcc" CXXFLAGS="-O1 -DNDEBUG" TARGET_IMAGE="debian:sid" TARGET_BRANCH="${TRAVIS_BRANCH}" CMAKE_FLAGS="-DFEELPP_MESH_MAX_ORDER=1"
   - env: BUILD="debian-sid,clang-4.0" FEELPP_CXX="clang++-4.0" FEELPP_CC="clang-4.0" CXXFLAGS="-O2 -DNDEBUG" TARGET_IMAGE="debian:sid" TARGET_BRANCH="${TRAVIS_BRANCH}" CMAKE_FLAGS="-DFEELPP_MESH_MAX_ORDER=1"   

before_install:
- echo $TRAVIS_OS_NAME
- echo $HOME
- echo "building ${TRAVIS_BRANCH}..."
- docker --version
- sudo apt-get update
- sudo apt-get install -y -q -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confold" docker-engine
- git clone --depth=1 https://github.com/feelpp/docker
- cd docker/dockerfiles/feelpp-libs && bash mkimg.sh -f ${TARGET_IMAGE} --jobs 1 --branch ${TARGET_BRANCH} --cmakeflags "${CMAKE_FLAGS}" --cxxflags "${CXXFLAGS}" --cxx "${FEELPP_CXX}" --cc "${FEELPP_CC}" 
- docker images

install:
- docker images
- docker run ${TARGET_IMAGE} true

script:
- true

notifications:
  webhooks:
      urls:
        - https://webhooks.gitter.im/e/12ef0320a0dce1a9972a
      on_success: always  # options: [always|never|change] default: always
      on_failure: always  # options: [always|never|change] default: always
      on_start: never     # options: [always|never|change] default: always
