os:
  - linux
  - osx

git:
  depth: 1
  submodules: false

language: cpp

compiler:
- clang

env:
- BUILDTYPE=Release TARGET=quickstart

#- BUILDTYPE=Release TARGET=tutorial

before_install:
- echo $TRAVIS_OS_NAME
- if test "x$TRAVIS_OS_NAME" = "xlinux"; then sudo add-apt-repository -y ppa:mapnik/boost-backports-1-54; fi
- if test "x$TRAVIS_OS_NAME" = "xlinux"; then sudo add-apt-repository -y ppa:kalakris/eigen; fi
- if test "x$TRAVIS_OS_NAME" = "xlinux"; then sudo add-apt-repository -y ppa:feelpp/petsc; fi
- if test "x$TRAVIS_OS_NAME" = "xlinux"; then sudo apt-get -qq update; fi
- if test "x$TRAVIS_OS_NAME" = "xlinux"; then sudo apt-get install -qq libboost1.54-all-dev mpi-default-dev mpi-default-bin libeigen3-dev
    libpetsc3.4.2-dev libcln-dev petsc-dev libxml2-dev gmsh bison flex doxygen doxygen-latex transfig
    imagemagick libtbb-dev libann-dev libglpk-dev automake libtool; fi
- if test "x$TRAVIS_OS_NAME" = "xosx"; then brew tap feelpp/science; fi
- if test "x$TRAVIS_OS_NAME" = "xosx"; then travis_wait brew install --only-dependencies feelpp; fi
#install some submodules
- git submodule update --init --recursive contrib/nlopt
- git submodule update --init --recursive contrib/nt2
- git submodule update --init --recursive contrib/ipopt

cache:
  directories:
  - /usr/local/Cellar/libevent
  - /usr/local/Cellar/open-mpi
  - /usr/local/Cellar/cln
  - /usr/local/Cellar/eigen
  - /usr/local/Cellar/gmsh
  - /usr/local/Cellar/veclibfort
  - /usr/local/Cellar/scalapack
  - /usr/local/Cellar/szip
  - /usr/local/Cellar/hdf5
  - /usr/local/Cellar/scotch5
  - /usr/local/Cellar/mumps
  - /usr/local/Cellar/tbb
  - /usr/local/Cellar/suite-sparse
  - /usr/local/Cellar/petsc
  - /usr/local/Cellar/slepc
  - /usr/local/Cellar/boost
  - /usr/local/Cellar/ann
  - /usr/local/Cellar/glpk

install:
- mkdir opt && cd opt && ../configure --build=$BUILDTYPE -v

script:
- make -j16 feelpp_ginac
- make -j2 feelpp
- make $TARGET-check

branches:
  only:
  - develop
  - master
  - feature/explicit
  - merging-with-explicit
cache:
- apt
notifications:
  email:
    recipients:
    - feelpp-devel@feelpp.org
    on_success: change
matrix:
  allow_failures:
  - gcc
