fe-approximation=P1 #P1,P2
directory=toolboxes/thermoelectric/cvg3d

[thermo-electric]
filename=$cfgdir/3d.json
gmsh.partition=1

[gmsh]
filename=$cfgdir/3d.geo
hsize=0.5

[cvg]
nb-iter=4
factor=2
filename=cvg.dat

#[thermo-electric.gmsh]
#scale=1000 # from mm to m

[thermo-electric.heat]
#initial-solution.temperature=293
#verbose=1
verbose_solvertimer=1
pc-type=gamg
ksp-monitor=1

[thermo-electric.electric]
verbose_solvertimer=1
pc-type=gamg
ksp-monitor=1
