testcase=BercovierEngelmann

[2D]
u_exact_x= -256*y*(y-1)*(2*y-1)*x*x*(x-1)*(x-1)
u_exact_x= 256*x*(x-1)*(2*x-1)*y*y*(y-1)*(y-1)
p_exact = (x-0.5)*(y-0.5 )

[benchmark]
nlevels=5
hsize=0.1
#only=2D-P2P1-Hypercube;2D-CR1P0-Hypercube

[2D-CR1P0-Simplex.benchmark]
nlevels=5
hsize=0.1
[2D-CR1P0-Hypercube]
bctype=1
bccoeff=1500
[2D-CR1P0-Hypercube.benchmark]
nlevels=5
hsize=0.1

[2D-P2P1-Simplex.benchmark]
nlevels=1
hsize=0.2
[2D-P2P1-Hypercube]
bctype=1
bccoeff=300
[2D-P2P1-Hypercube.benchmark]
nlevels=5
hsize=0.1

[2D-P3P2=Simplex.benchmark]
nlevels=5
hsize=0.2
[2D-P3P2-Hypercube.benchmark]
nlevels=5
hsize=0.2

[2D-P4P3-Simplex.benchmark]
nlevels=4
hsize=0.2
[2D-P4P3-Hypercube.benchmark]
nlevels=4
hsize=0.2

[2D-P5P4-Simplex.benchmark]
nlevels=4
hsize=0.2
[2D-P5P4-Hypercube.benchmark]
nlevels=4
hsize=0.2
