testcase=Kovasnay
mu=0.035
[2D]
#u_exact_x= 1- exp( (1/( 2./40 ) -sqrt( 1/( 4/1600 ) + 4*pi*pi )) *x ) * cos( 2.*pi*y )
#u_exact_y= ( (1/( 2/40 ) -sqrt( 1/( 4/1600 ) + 4*pi*pi ))/( 2*pi ) ) * exp( (1/( 2./40 ) -sqrt( 1/( 4/1600 ) + 4*pi*pi )) *x ) * sin( 2*pi*y )
#p_exact = -0.5*exp( 2*(1/( 2/40 ) -sqrt( 1/( 4/1600 ) + 4*pi*pi ))*x )


#### mu=1 ####
#u_exact_x= 1- exp((1./( 2.*1 ) -sqrt( 1./( 4.*1*1 ) + 4.*pi*pi )) *x ) * cos( 2.*pi*y )
#u_exact_y= ( (1./( 2.*1 ) -sqrt( 1./( 4.*1*1 ) + 4.*pi*pi ))/(2*pi) * exp( (1./( 2.*1 ) -sqrt( 1./( 4.*1*1 ) + 4.*pi*pi )) *x ) * sin( 2*pi*y ))
#p_exact = -0.5*exp( 2*(1./( 2.*1 ) -sqrt( 1./( 4.*1*1 ) + 4.*pi*pi ))*x )

##### mu=0.025 ###
#u_exact_x= 1- exp((1./( 2.*0.025 ) -sqrt( 1./( 4.*0.025*0.025 ) + 4.*pi*pi )) *x ) * cos( 2.*pi*y )
#u_exact_y= ( (1./( 2.*0.025 ) -sqrt( 1./( 4.*0.025*0.025 ) + 4.*pi*pi )) * exp( (1./( 2.*0.025 ) -sqrt( 1./( 4.*0.025*0.025 ) + 4.*pi*pi )) *x ) * sin( 2*pi*y )
#p_exact = -0.5*exp( 2*(1./( 2.*0.025 ) -sqrt( 1./( 4.*0.025*0.025 ) + 4.*pi*pi ))*x )

##### mu=0.035 ###
u_exact_x= 1- exp((1./( 2.*0.035 ) -sqrt( 1./( 4.*0.035*0.035 ) + 4.*pi*pi )) *x ) * cos( 2.*pi*y )
u_exact_y= ( (1./( 2.*0.035 ) -sqrt( 1./( 4.*0.035*0.035 ) + 4.*pi*pi ))/(2*pi) * exp( (1./( 2.*0.035 ) -sqrt( 1./( 4.*0.035*0.035 ) + 4.*pi*pi )) *x ) * sin( 2*pi*y ))
p_exact = -0.5*exp( 2*(1./( 2.*0.035 ) -sqrt( 1./( 4.*0.035*0.035 ) + 4.*pi*pi ))*x )

#f1 = ( mu*(exp( lambdaa*Px()))*cos( 2.0*pi*Py() )*( lambdaa*lambdaa -4.0*pi*pi )-lambdaa*exp( 2.0*lambdaa*Px() ) );
#f2 = ( -mu*( lambdaa*lambdaa*lambdaa*exp( lambdaa*Px() )*sin( 2.0*pi*Py() )/pi/2.0-2.0*lambdaa*exp( lambdaa*Px() )*sin( 2.0*pi*Py() )*pi ) );



[gmsh]
filename=kovasnaystraight2.geo   ## ymin =-0.5    ymax=1.5
#filename=kovasnaystraight1.geo    ## ymin =0    ymax=2
#filename=kovasnaystraight_curve.geo

[benchmark]
nlevels=5
hsize=0.1
only=2D-P2P1-Simplex; #;2D-CR1P0-Hypercube

[2D-CR1P0-Simplex.benchmark]
nlevels=5
hsize=0.1
[2D-CR1P0-Hypercube]
bctype=1
bccoeff=1500
[2D-CR1P0-Hypercube.benchmark]
nlevels=5
hsize=0.1

[2D-P2P1-Simplex.benchmark]
nlevels=4
hsize=0.4
[2D-P2P1-Hypercube]
bctype=1
bccoeff=300
[2D-P2P1-Hypercube.benchmark]
nlevels=5
hsize=0.1

[2D-P3P2=Simplex.benchmark]
nlevels=5
hsize=0.2
[2D-P3P2-Hypercube.benchmark]
nlevels=5
hsize=0.2

[2D-P4P3-Simplex.benchmark]
nlevels=4
hsize=0.2
[2D-P4P3-Hypercube.benchmark]
nlevels=4
hsize=0.2

[2D-P5P4-Simplex.benchmark]
nlevels=4
hsize=0.2
[2D-P5P4-Hypercube.benchmark]
nlevels=4
hsize=0.2
