directory=feelpp-avnir/testQ1/with_voigt_notation

E = 1
nu = 0.45

gmsh.filename = $cfgdir/../hexa.geo


[functions]
f = {1,0,0}            # force appliquée 
g = {0,0,0}             # condition de Dirichlet 



# [solid]

# verbose = 1
# pc-type=gamg #lu,gamg,gasm,ml      P1: gamg ; P2: lu
# ksp-monitor=1