directory=toolboxes/thermoelectric/bitter
case.discretization=P1 #P1,P2

[thermo-electric]
filename=$cfgdir/bitter.json

#mesh.filename=girder:{file:5e4688bcb0e95704757e263b}
mesh.filename=girder:{file:5e4688bcb0e95704757e2638} #fine
gmsh.partition=1
#mesh.scale=1e-3 #1000 # from mm to m

[thermo-electric.heat]
#initial-solution.temperature=293
#verbose=1
verbose_solvertimer=1
pc-type=gamg
ksp-monitor=1

[thermo-electric.electric]
verbose_solvertimer=1
pc-type=gamg
ksp-monitor=1
