directory=toolboxes/thermoelectric/bitter
case.discretization=P1 #P1,P2

[thermo-electric]
filename=$cfgdir/bitter.json


[thermo-electric.heat]
#initial-solution.temperature=293
#verbose=1
verbose_solvertimer=1
pc-type=gamg
ksp-monitor=1

[thermo-electric.electric]
verbose_solvertimer=1
pc-type=gamg
ksp-monitor=1
