
directory=toolboxes/fsi/magneto

[fsi]
# files
filename=$cfgdir/magneto.json
mesh.filename=$cfgdir/swimmer.geo
gmsh.hsize=0.025 
mesh-save.tag=M2

# fluid and solid markers
fluid-mesh.markers=Fluid
fluid-mesh.markers=Solid
fluid-mesh.markers=Head

solid-mesh.markers=Solid
solid-mesh.markers=Head

conforming-interface=true

fixpoint.tol=1e-6#1e-8
fixpoint.initialtheta=0.98#0.1#99#0.05
fixpoint.min_theta=1e-12#0.005#1e-8#1e-4
fixpoint.maxit=2

coupling-type=Implicit #Semi-Implicit

coupling-bc=dirichlet-neumann
#coupling-bc=nitsche
#coupling-bc=robin-robin
#coupling-bc=robin-neumann
#coupling-bc=robin-robin-genuine
#coupling-nitsche-family.gamma=600
#coupling-nitsche-family.gamma0=0.5
#coupling-bc=robin-neumann-generalized

#coupling-robin-neumann-generalized.use-mass-matrix-lumped-in-solid=0


solve-rigid=true # Resolution of the fluid rigid problem
solve-elastic=true # Resolution of the solid problem
solve-dirichlet=true # Add dirichlet boundary condition onto the head in solid problem

[fluid]

#solver=Oseen #Oseen,Picard,Newton

#ksp-converged-reason=true
#snes-converged-reason=true
pc-type=lu#gasm #gasm#lu #asm#fieldsplit #ilu
ksp-type=preonly

[fluid.alemesh]
type=harmonic
pc-type=gamg
ksp-maxit=30
reuse-prec=true
ksp-converged-reason=true
[fluid.alemesh.ho]
pc-type=gamg
ksp-maxit=30
reuse-prec=true
[fluid.bdf]
order=2
[fluid.alemesh.bdf]
order=2

[solid]

material_law=StVenantKirchhoff # StVenantKirchhoff, NeoHookean
pc-type=gamg

time-stepping=BDF#Theta
bdf.order=2

[ts]
#restart=true
time-step=0.01#0.1#0.01
time-final=1.0
restart.at-last-save=true
#time-initial=3.3 #3.04
save.freq=50

[exporter]
#freq=5
#export=0

[fluid]
# verbose=1
verbose_solvertimer=1
[solid]
# verbose=1
verbose_solvertimer=1
[fsi]
# verbose=1
verbose_solvertimer=1
