[fluid]
preconditioner.attach-pmm=1
use-velocity-near-null-space=1
#verbose_solvertimer=1
#scalability-save=1

[fluid]
ksp-type=fgmres#gcr#fgmres
fgmres-restart=100

# fieldsplit
pc-type=fieldsplit
fieldsplit-fields=0->(0,2,3),1->(1)

fieldsplit-type=schur #additive, multiplicative, schur
fieldsplit-schur-fact-type=upper#full#upper#full #diag, lower, upper, full
fieldsplit-schur-precondition=self

# block velocity
[fluid.fieldsplit-0]
ksp-type=preonly#gmres#preonly#gmres
pc-type=gamg#boomeramg
#pc-gamg-nsmooths=3
ksp-maxit=5
ksp-rtol=1e-5
ksp-monitor=0
ksp-view=0
pc-view=0
#pc-factor-mat-solver-package-type=mumps
#pc-factor-mumps.icntl-14=60

[fluid.fieldsplit-1]
ksp-type=gmres#preonly
ksp-maxit=1#10
ksp-rtol=1e-3
pc-type=pmm

pmm.pc-type=gamg#lu
pmm.ksp-type=preonly#gmres
#pmm.ksp-view=1
#pmm.ksp-monitor=1
#pc-factor-mat-solver-package-type=mumps
#pc-factor-mumps.icntl-14=60
