
directory=toolboxes/fluid/magneto

case.dimension=2

[fluid]
exporter.use-static-mesh=0
filename=$cfgdir/head.json

define-pressure-cst=1

solver=Oseen#Newton #Oseen,Picard,Newton
verbose_solvertimer=1

pc-type=lu #gasm,lu
ksp-type=gmres
ksp-monitor=1

snes-monitor=1

[fluid.alemesh]
[fluid.alemesh.winslow]
#solver=Picard-Newton # Picard, Newton, Picard-Newton
verbose_solvertimer=1
snes-monitor=1

[fluid.bdf]
order=2
#strategy-high-order-start=1

[ts]
time-step=0.001#0.001#0.005#0.01#0.005#0.005#0.01
time-final=2

