# mesh size
hsize=0.05

#name of the .msh file
#for example :
#mshfile = /home/veys/feel/geofiles/thermalblock.msh

[thermalblock.run]
mode=2
sampling.size=10

[backend-primal]
pc-type=lu

[backend-dual]
pc-type=lu

[backendl2]
pc-type=lu


[beta]
A0=1
A1=k1
A2=k2
A3=k3
A4=k4
A5=k5
A6=k6
A7=k7
A8=k8
Alast=1
F0.0=1  

[crb]
rebuild-database=true
dimension-max=10
output-index=0
error-max=1e-15
error-type=1
results-repo-name=ThermalBlock
use-linear-model=true
use-ginac-for-beta-expressions=false
load-elements-database=true


#parameter for scm
[crb.scm]
use-scm=false
rebuild-database=true
iter-max=30
strategy=0
#solver parameters
solvereigen-tol=1e-10
#solvereigen-maxiter=100000
solvereigen-maxiter=10000
solvereigen-ncv=50
solvereigen-solver-type=5
#0 : POWER
#1 : LAPACK
#2 : SUBSPACE
#3 : ARNOLDI
#4 : LANCZOS
#5 : KRYLOVSCHUR
#
