myModel=$cfgdir/precAFP3D.mod
saveTimers=false
generateMD=true
test-case=4
functions.m=1

[gmsh]
filename=precAFP3D.geo

[exporter]
export=true

[functions]
#rhs
j={-2*(z*z+y*y-2)/m -2*x*(1-y*y)*(1-z*z),-2*(x*x+z*z-2)/m-2*y*(1-x*x)*(1-z*z),-2*(y*y+x*x-2)/m-2*z*(1-x*x)*(1-y*y)}:x:y:z:m
#exact sol
a={(1-y*y)*(1-z*z),(1-x*x)*(1-z*z),(1-x*x)*(1-y*y)}:x:y:z
#permeability
m=1.:x:y

[parameters]
e=1
