# length are in meter
# velocities are in m.s^-1

# dynamic viscosity
mu=0.0035
# density
rho=1056

# volumetric flow rate
Q=2.6031e-6 #5.2062e-6
N={1,0}:x:y

# length and velocity at inlet
Di=0.012
Ui=Q/Di;Q:Di #Q/(pi*Di*Di/4):Q:Di# length and velocity at throat
D=0.004
U=Q/D:Q:D  #Q/(pi*D*D/4):Q:D
# characteristic quantities
characteristics=Di,Ui;D,U

outputs="outlet inletThroat outletThroat"

[gmsh]
filename=2D_FDA_L.msh

[exporter]
geometry=static

[bdf]
time-initial=0
time-step=1e-2
time-final=3
order=2

[functions]
g={(3*Q/(2*Di))*(1-(y*y)/(Di*Di/4))*(1-exp(-t/1e-3)),0}:x:y:t:Q:Di


ksp-monitor=1
ksp-converged-reason=1
ksp-maxit=5000
ksp-rtol=1e-12
pc-type=lu #gasm,lu,fieldsplit,ml,ilu
#####################################################
# gasm
pc-gasm-overlap=1
sub-pc-type=lu #ilu
#sub-pc-factor-levels=3
#####################################################
# ilu
pc-factor-levels=3
#####################################################
# ml
pc-mg-levels=2
pc-mg-type=kaskade #multiplicative, additive, full, kaskade

mg-coarse.pc-type=lu

mg-levels1.pc-type=gasm
mg-levels1.sub-pc-type=lu #ilu
mg-levels1.pc-gasm-overlap=0
mg-levels1.ksp-maxit=50
mg-levels1.ksp-rtol=1e-5
#mg-levels1.ksp-monitor=true
######################################################
# fieldsplit
fieldsplit-type=schur #additive, multiplicative, schur
fieldsplit-schur-fact-type=diag #diag, lower, upper, full

fieldsplit-0.pc-type=lu #gasm,lu
fieldsplit-0.sub-pc-type=lu
fieldsplit-0.pc-gasm-overlap=1
fieldsplit-0.ksp-type=gmres #preonly

fieldsplit-1.pc-type=lsc  #lsc,jacobi
fieldsplit-1.ksp-type=gmres #preonly, gmres,minres
fieldsplit-1.lsc.pc-type=lu # ml,lu,gasm
