directory=qs_laplacian/tetrahedron

pc-factor-mumps.icntl-24=1


[checker]
check=true
solution=x:x
filename=$cfgdir/checker.json
script=$cfgdir/../python/laplacian.py

[checker.tolerance]
exact=1e-12

[gmsh]
filename=$cfgdir/tetrahedron.geo

[functions]
g=x:x
f=0
a=1
b=3
c=2
# mu: diffusion term (laplacian) <1>
mu=1
# gamma: reaction term (adr) <2>
gamma=0
# sigma: diffusion term (adr) <3>
sigma={1,0,0,0,1,0,0,0,1}
# beta: advection term (adr) <4>
beta={0,0,0}

[sc]
condense=true
pc-factor-mumps.icntl-24=1

[exporter]
format=ensightgold
geometry=static

