/CMakeFiles
/CTestTestfile.cmake
/Makefile
/Makefile.in
/Monom_x.txt
/Monom_x_3D.txt
/Monom_y.txt
/PK_log_g.dat
/PK_results_g.dat
/PK_x_log.dat
/PK_x_log_3D.log
/PK_y_log.dat
/QK_error.log
/QK_error_3D.log
/QK_results.txt
/QK_results_3D.txt
/cmake_install.cmake
/test_im
/test_imsimplex
/test_jacobi
/test_poly
/test_quad_order
