directory=qs_laplacian/circle-dirichlet

[checker]
check=true
solution=x**2+y**2
filename=$cfgdir/checker.json
script=$cfgdir/../python/laplacian.py

[gmsh]
filename=$cfgdir/circle-dirichlet.geo

[functions]
g=x^2+y^2:x:y
f=-4
a=1
b=2*(x*nx+y*ny)+x^2+y^2:x:y:nx:ny
c=2*(x*nx+y*ny):x:y:nx:ny

# mu: diffusion term (laplacian) <1>
mu=1
# gamma: reaction term (adr) <2>
gamma=0
# sigma: diffusion term (adr) <3>
sigma={1,0,0,1}
# beta: advection term (adr) <4>
beta={0,0}

[exporter]
format=ensightgold
geometry=static

