/CMakeFiles
/CMakeLists.txt~
/Makefile
/Makefile.in
/TAGS
/about.cpp~
/application.cpp~
/cmake_install.cmake
/context.hpp~
/debug.cpp~
/debug.hpp~
/flags.hpp~
/liblifecore.a
/life.hpp~
/parameter.hpp~
