# /// [geo]
[gmsh]
filename=heat2d.geo
hsize = 0.1
# /// [geo]

# /// [fct]
[functions]
f=cos(y):x:y
g=sin(y*y):x:y
# /// [fct]

# /// [run_mode]
# 0 : PFEM
# 1 : SCM
# 2 : CRB
[heat2d.run]
mode=2
# We want ten random evaluation of the output
sampling.size=10
# /// [run_mode]

# /// [model_opt]
[heat2d]
export-solution=true
# /// [model_opt]

# /// [crbopt]
[crb]
#Important note :
#if PFEM mode is used please comment crb options
# What is the maximum size of our basis
dimension-max=30
#CRB error type option
# 0 : RESIDUAL
# 1 : REDISUAL_SCM
# 2 : NO_RESIDUAL
# 3 : EMPIRICAL
error-type=1
# See Heat2D::output
output-index=0
# Do we need to rebuild the DB ?
rebuild-database=false
solve-dual-problem=true
results-repo-name=Heat2D
load-elements-database=true
# Useless...
visualize-basis=true
# Do we want to see CRB evaluations against FEM computations ?
compute-fem-during-online=false
# /// [crbopt]

# /// [crbscmopt]
[crb.scm]
iter-max=30
strategy=0
rebuild-database=true
use-scm=false
#solver parameters
solvereigen-tol=1e-10
solvereigen-maxiter=100000
solvereigen-ncv=10
check-eigenvector-tol=5e-9
# /// [crbscmopt]
