/#feel.tex#
/auto
/building.aux
/feel.aux
/getting-started.aux
/getting-started.log
/stokesdd-P1G1.cpp
/stokesdd-P1G2.cpp
/stokesdd-P1G3.cpp
/stokesdd-P2G1.cpp
/stokesdd-P2G2.cpp
/stokesdd-P2G3.cpp
/stokesdd-P3G1.cpp
/stokesdd-P3G2.cpp
/stokesdd-P3G3.cpp
/stokesdd_P1G1.cpp
/stokesdd_P1G2.cpp
/stokesdd_P1G3.cpp
/stokesdd_P2G1.cpp
/stokesdd_P2G2.cpp
/stokesdd_P2G3.cpp
/stokesdd_P3G1.cpp
/stokesdd_P3G2.cpp
/stokesdd_P3G3.cpp
/texput.log
