directory=toolboxes/fluid/pressure-driven/pipe/2d

case.dimension=2
case.discretization=P2P1G1

[fluid]
filename=$cfgdir/pipe-2d-ns.json
gmsh.hsize=0.01
mesh.filename=$cfgdir/pipe-2d.geo

solver= Newton #LinearSystem,Picard,Newton
#verbose_solvertimer=1

linearsystem-cst-update=false
jacobian-linear-update=false

snes-monitor=false
# ksp-monitor=true
pc-type=lu #gasm,lu

#stabilization-gls=1
