directory=qs_elasticity_shell/validations/validation-flexion-corner-on-lozenge
elasticity.case=$cfgdir/validation_flexion_corner_on_lozenge.json

# print-matlab-fields=true

[exporter]
format=ensightgold
geometry=static
