directory=feelpp-avnir/testQ1/solve_with_matrix/Q1

E = 1
nu = 0.45

gmsh.filename = $cfgdir/../hexa.geo


[functions]
f = {1,0,0}  
g = {0,0,0}


# [solid]

# verbose = 1
# pc-type=gamg #lu,gamg,gasm,ml      P1: gamg ; P2: lu
# ksp-monitor=1