stokes=1
newton=0
picard=1
blockns=0

mu=0.0035
rho=1056

Q=0.0000052166503023447670669   ##Re 500
#Q=0.000020835363778712969347     ##Re 2000
#Q= 0.000036454077248797986319   ##Re 3500

bc-file=$top_srcdir/benchmarks/navierstokes/steps/fda_2d.bc
#bc-file=$top_srcdir/benchmarks/navierstokes/steps/fda_3d_2000.bc
#bc-file=$top_srcdir/benchmarks/navierstokes/steps/fda_3d_3500.bc

[exporter]
geometry=static
path=ensightgold
freq=50

[bdf]
time-step=1e-2
time-initial=0
time-final=0.1
order=2
save=1
#restart=true
#restart.at-last-save=false
#restart.step-before-last-save=2
rank-proc-in-files-name=true

[functions]
#g={0,0,0.09225*(1-(x*x+y*y)/(0.006*0.006))}:x:y
##c=09255063132   Re500
##c=0.3684501263  Re2000
##c=0.6446496212  Re3500
g={0,(1-exp(-41*t))*0.09225*(1-(x*x)/(0.006*0.006))}:x:t  
h={0,0}

[stokes]
preconditioner=PCD #petsc#PMM
ksp-rtol=1e-7 #1e-10
ksp-monitor=1
ksp-type=gcr
ksp-use-initial-guess-nonzero=false
gcr-restart=100

[gmsh]
#hsize=0.1
filename=$top_srcdir/benchmarks/navierstokes/steps/fda-2d.geo
#geo-variables-list=L=5:dim=3


[ns]
preconditioner=petsc
#reuse-prec=1
#pc-view=1
ksp-monitor=1
ksp-converged-reason=true
#snes-monitor=1
ksp-type=fgmres#gcr#fgmres
gcr-restart=100
ksp-rtol=1e-6
ksp-use-initial-guess-nonzero=false

# fieldsplit
pc-type=fieldsplit
fieldsplit-type=schur #additive, multiplicative, schur
fieldsplit-schur-fact-type=upper#full#upper#full #diag, lower, upper, full

# D^-1 L^-1
fieldsplit-schur-inner-solver.use-outer-solver=0
fieldsplit-schur-inner-solver.pc-type=jacobi
fieldsplit-schur-inner-solver.ksp-type=preonly
# U^-1
fieldsplit-schur-upper-solver.use-outer-solver=0
fieldsplit-schur-upper-solver.pc-type=jacobi
fieldsplit-schur-upper-solver.sub-pc-type=lu
fieldsplit-schur-upper-solver.ksp-type=preonly
# Schur complement
fieldsplit-schur-precondition=user


# block velocity
[ns.fieldsplit-0]
pc-type=fieldsplit #gamg#fieldsplit
pc-factor-mumps.icntl-14=60
fieldsplit-use-components=1
fieldsplit-fields=0->(0),1->(1)  ##,2->(2)
fieldsplit-type=additive
ksp-type=gmres #richardson#gcr#gmres#preonly#gcr#gmres#gcr
#ksp-maxit=10
ksp-rtol=1e-5 #1e-9
ksp-monitor=1
[ns.fieldsplit-0.fieldsplit-0]
pc-type=gasm #gamg#ml#ml,gamg,boomeramg,gasm,lu
sub-pc-type=lu #gamg
sub-ksp-type=preonly
pc-gamg-reuse-interpolation=1
pc-gamg-threshold=0 #0.02
#pc-gamg-coarse-eq-lim=8000
#mg-levels.pc-type=gasm
mg-coarse.redundant.pc-factor-mat-solver-package-type=petsc
pc-factor-mumps.icntl-14=60
#mg-levels.ksp-type=preonly
ksp-type=preonly #gmres #preonly
#ksp-maxit=10
#mg-levels.ksp-monitor=1

[ns.fieldsplit-0.fieldsplit-1]
pc-type=gasm#gamg#
sub-pc-type=lu#gamg
sub-ksp-type=preonly
pc-gamg-reuse-interpolation=1
pc-gamg-threshold=0 #0.02
#mg-levels.pc-type=gasm
mg-coarse.redundant.pc-factor-mat-solver-package-type=petsc
pc-factor-mumps.icntl-14=60
#mg-levels.ksp-type=preonly
ksp-type=preonly #gmres #preonly
[ns.fieldsplit-0.fieldsplit-2]
pc-type=gasm #gamg#
sub-pc-type=lu#gamg
sub-ksp-type=preonly
pc-gamg-reuse-interpolation=1
pc-gamg-threshold=0.02
#mg-levels.pc-type=gasm
mg-coarse.redundant.pc-factor-mat-solver-package-type=petsc
pc-factor-mumps.icntl-14=60
#mg-levels.ksp-type=preonly
ksp-type=preonly #gmres #preonly

[ns.fieldsplit-1]
pc-type=gasm#ml,lu#ssor
pc-gamg-reuse-interpolation=1
pc-gamg-nsmooths=2
sub-pc-type=lu
ksp-type=preonly#gmres#fgmres
ksp-maxit=15
ksp-rtol=1e-3
ksp-monitor=1
