stokes=1
newton=0
picard=1
blockns=1


mu=0.2#0.01

bc-file=$top_srcdir/benchmarks/navierstokes/steps/steady_ns_2d.bc

[functions]
g={y*(1-y),0}:y
h={0,0}


[blockns]
cd=true
pcd=true

[blockns.pmm]
# consider diagonal pressure mass matrix
diag=0

[blockns.pcd]
# CL at inflow of pressure
inflow=Robin
# CL at outflow of pressure 
outflow=Dirichlet#Neumann
# Mp Fp^-1 Ap : 1, other Ap Fp^-1 Mp
order=1

# Ap : diffusion operator
[Ap]
pc-type=lu
ksp-monitor=0
# pressure convection-diffusion operator
[Fp]
pc-type=lu
# velocity convection diffusion operator
[Fu]
pc-type=lu
ksp-monitor=0
# pressure mass matrix
[Mp]
pc-type=lu
ksp-monitor=0


[newton]
preconditioner=PCD
tol=1e-5
maxit=50
ksp-type=gcr
ksp-rtol=1e-6
ksp-monitor=1
ksp-maxit=100
ksp-use-initial-guess-nonzero=false
gcr-restart=100

[picard]
preconditioner=PCD
tol=1e-5
maxit=50
ksp-rtol=1e-6
ksp-monitor=1
ksp-maxit=100#30
ksp-type=gcr
ksp-use-initial-guess-nonzero=false
gcr-restart=100

[stokes]
preconditioner=PCD#petsc#PMM
ksp-rtol=1e-6#1e-10
ksp-monitor=1
ksp-type=gcr
ksp-use-initial-guess-nonzero=false
gcr-restart=100

[gmsh]
hsize=0.1
filename=$top_srcdir/data/gmsh/steps/step-elmann-2009.geo
geo-variables-list=L=5:dim=2
