/Makefile.in
/basisgen.hppbak
/crouzeixraviart.hppbak
/crouzeixraviart2d.cppbak
/crouzeixraviart3d.cppbak
/hermite.cppbak
/hermite.hppbak
/hypercube.pyc
/lagrange.hppbak
/lagrange1d.cppbak
/lagrange2d.cppbak
/lagrange3d.cppbak
/orthonormalpset.hppbak
/orthonormalpset1d.cppbak
/orthonormalpset2d.cppbak
/orthonormalpset3d.cppbak
/polyvis.hppbak
/polyvisapp.cppbak
/polyvisbase.cppbak
/polyvisbase.hppbak
/raviartthomas.hppbak
/raviartthomas2d.cppbak
/raviartthomas3d.cppbak
/simplex.pyc
