case.dimension=3
case.discretization=P1

#[exporter]
#element-spaces=P0

[electric]
filename=$cfgdir/quarterturn.json
conductivity_json=sigma0
conductivityNL_json=sigma
pc-type=gasm
sub-pc-factor-mat-solver-package-type=umfpack
sub-pc-type=lu
ksp-rtol=1e-14
ksp-monitor=true
use-sc=true
backend.rebuild=true

[electric.sc]
ksp-monitor=true
pc-type=gamg
ksp-rtol=1e-12
backend.rebuild=true

[sc]
ibc_partitioning=true
ibc_partitioning.marker=V0

[heat]
filename=$cfgdir/quarterturn.json
conductivity_json=k0
conductivityNL_json=k
pc-type=gasm
sub-pc-factor-mat-solver-package-type=umfpack
sub-pc-type=lu
ksp-rtol=1e-14
ksp-monitor=true
use-sc=true
backend.rebuild=true

[heat.sc]
ksp-monitor=true
pc-type=gamg
ksp-rtol=1e-12
backend.rebuild=true

[thermoelectric]
tolerance=1e-8
itmax=0
continuation=false

[thermoelectric.continuation]
steps=1
marker=V0

[gmsh]
filename=$cfgdir/quarterturn-mult.geo
