directory=qs_darcy/quarter-turn3D

rho=1

ksp-type=fgmres
ksp-rtol=1e-4
ksp-maxit=1000
ksp-monitor=true

pc-type=lu#fieldsplit
fieldsplit-fields=0->(0),1->(1)
fieldsplit-type=schur
fieldsplit-schur-fact-type=upper
fieldsplit-schur-precondition=self
#fieldsplit-schur-fact-type=full
#fieldsplit-schur-precondition=user

[fieldsplit-0]
ksp-type=cg
ksp-monitor=1
pc-type=lu
pc-gamg-reuse-interpolation=true

[fieldsplit-1]
ksp-type=cg
ksp-monitor=1
pc-type=lu
pc-gamg-reuse-interpolation=true

[gmsh]
filename=$cfgdir/quarter-turn3D.geo
hsize=0.1

[functions]
f={0,0,0}:x:y:z
g=0
jn=0

[solution]
V=5*2/pi*atan2(y,x):x:y:z
j={10/pi*y/(x*x+y*y),-10/pi*x/(x*x+y*y),0}:x:y:z

[exporter]
format=ensightgold
geometry=static
