# Testcase from 
# An accurate cartesian method for incompressible flows with moving boundaries
# Michel Bergmann, Jessica Hovnanian, Angelo Iollo
# Section 3.3.3 (careful about the radius of the cylinder: they take it from another
# paper and copy it uncorrectly, i.e.
# "A vortex level set method for the two-way coupling of an incompressible fluid with colliding rigid bodies"
# Mathieu Coquerelle, Georges-Henri Cottet)


directory=toolboxes/fluid/moving_body/cylinder_under_gravity

case.dimension=2
body.markers.volume=CylinderVolume
body.markers.facet=CylinderSurface


remesh.metric.layers=2
remesh.strategy=constant
remesh.strategy.constant.value=0.01
remesh.tolerance=1.5
[mybdf.bdf]
order=1 #keep order 1 to avoid problems, for the moment
time-initial=0.0
time-final =10# put 12 to see what happens when the body leaves the region
time-step =0.001


[fluid]
exporter.use-static-mesh=0
filename=$cfgdir/shape_under_gravity.json

mesh.filename=$cfgdir/shape_under_gravity.geo
gmsh.hsize=0.1

solver=Oseen #Oseen,Picard,Newton
verbose_solvertimer=1

#linearsystem-cst-update=true#false
#jacobian-linear-update=true#false

pc-type=lu #gasm,lu
#ksp-type=preonly

snes-monitor=1

[fluid.bdf]
order=1

[ts]
time-step=0.001
time-final=2
#restart=true
restart.at-last-save=true
#time-initial=0.0002
#save.freq=2

[exporter]
freq=1