directory=feelpp-avnir/testQ1/with_feelpp


E = 10
nu = 0.0
moment_x = true

gmsh.filename = $cfgdir/../hexa.geo

[functions]
f={x,0,0}:x:y:z            # force appliquée -> si ça marche comme ça tant mieux
g={0,0,0}             # condition de Dirichlet -> vaut mieux peut etre le coder en dur




[solid]
# reuse-prec=false 
# reuse-jac=false
verbose = 1
pc-type=gamg #lu,gamg,gasm,ml      P1: gamg ; P2: lu
ksp-monitor=1