
directory=/user/lpalazzo/home/Documents/These/Swimmers_feel/feelpp/python/pyfeelpp-toolboxes/feelpp/toolboxes/fluid

case.dimension=3


[ts]
time-step=0.001
time-final=0.5

[exporter]
freq=1

[pfluid]
exporter.use-static-mesh=0
filename=$cfgdir/primal.json
#mesh.filename=$cfgdir/one_disk.geo
#h = 0.01
#solver=Newton #Oseen,Picard,Newton
#solver=Oseen
ksp-monitor=true
#reuse-prec=1
ksp-maxit-reuse=20
snes-monitor=true
snes-maxit=100
snes-rtol=1.e-5
define-pressure-cst=true
verbose_solvertimer=1
snes-line-search-type=l2
solver.nonlinear.apply-dof-elimination-on-initial-guess=0

[pfluid.bdf]
order=2


[pfluid.alemesh]
type=harmonic#winslow
use-adaptive-penalisation=true
pc-type=gamg
ksp-maxit=60
reuse-prec=true
ksp-converged-reason=true

[pfluid]
preconditioner.attach-pcd=1

[pfluid.pcd]
# CL at inflow of pressure
bc-type-with-Dirichlet=Robin#Dirichlet#Robin
# CL at outflow of pressure 
bc-type-with-Neumann=Dirichlet#Neumann
# Mp Fp^-1 Ap : 1, other Ap Fp^-1 Mp
order=1

diffusion=Laplacian#BTBt

[pfluid]
ksp-type=fgmres#gcr#fgmres
fgmres-restart=100

# fieldsplit-schur-inner-solver.use-outer-solver=0
# fieldsplit-schur-inner-solver.pc-type=gamg#jacobi
# fieldsplit-schur-inner-solver.ksp-type=gmres#preonly
# fieldsplit-schur-upper-solver.use-outer-solver=0
# fieldsplit-schur-upper-solver.pc-type=gamg#jacobi
# fieldsplit-schur-upper-solver.ksp-type=gmres#preonly

# fieldsplit
pc-type=fieldsplit
fieldsplit-fields=0->(0,2,3),1->(1)
fieldsplit-type=schur #additive, multiplicative, schur
fieldsplit-schur-fact-type=upper#full #diag, lower, upper, full
fieldsplit-schur-precondition=self


# block velocity
[pfluid.fieldsplit-0]
# ksp-type=gmres#preonly
# pc-type=sor
# ksp-maxit=10

ksp-type=preonly
#ksp-maxit=10
#ksp-rtol=1e-5
pc-type=fieldsplit

#fieldsplit-use-components=1
#fieldsplit-fields=0->(0),1->(1),2->(2),3->(4,5,6,7,8,9)
#fieldsplit-fields=0->(0,1,2),1->(4,5,6,7,8,9)
fieldsplit-fields=0->(0),1->(2,3)
fieldsplit-type=additive
[pfluid.fieldsplit-0.fieldsplit-0]
ksp-type=preonly
pc-type=fieldsplit
fieldsplit-use-components=1
fieldsplit-fields=0->(0),1->(1),2->(2)
fieldsplit-type=additive
[pfluid.fieldsplit-0.fieldsplit-0.fieldsplit-0]
ksp-type=gmres#richardson#gmres#preonly
pc-type=jacobi#sor#jacobi#sor
ksp-maxit=10#2#10
[pfluid.fieldsplit-0.fieldsplit-0.fieldsplit-1]
ksp-type=gmres#richardson#gmres#preonly
pc-type=jacobi#sor#jacobi#sor
ksp-maxit=10#2#10
[pfluid.fieldsplit-0.fieldsplit-0.fieldsplit-2]
ksp-type=gmres#richardson#gmres#preonly
pc-type=jacobi#sor#jacobi#sor
ksp-maxit=10#2#10

[pfluid.fieldsplit-0.fieldsplit-1]
ksp-type=preonly
pc-type=lu#swor
# ksp-type=gmres#preonly
# pc-type=sor
# ksp-maxit=10
# [pfluid.fieldsplit-0.fieldsplit-2]
# ksp-type=gmres#preonly
# pc-type=sor
# ksp-maxit=10
# [pfluid.fieldsplit-0.fieldsplit-3]
# ksp-type=preonly
# pc-type=lu#swor
# ksp-maxit=10

[pfluid.fieldsplit-1]
ksp-type=fgmres#preonly#fgmres#preonly#gmres
ksp-maxit=1#15
ksp-rtol=1e-3

pc-type=pcd

pcd.Mp.pc-type=gamg
pcd.Mp.ksp-type=preonly#gmres
pcd.Mp.pc-gamg-reuse-interpolation=1
#pcd.Mp.mg-coarse.redundant.pc-factor-mat-solver-package-type=petsc
#pcd.Mp.pc-gamg-nsmooths=2
pcd.Ap.pc-type=gamg
pcd.Ap.ksp-type=preonly#gmres
pcd.Ap.pc-gamg-reuse-interpolation=1
#pcd.Ap.mg-coarse.redundant.pc-factor-mat-solver-package-type=petsc



[dfluid]
exporter.use-static-mesh=0
filename=$cfgdir/dual.json
#mesh.filename=$cfgdir/one_disk.geo
#h = 0.01
#solver=Newton #Oseen,Picard,Newton
#solver=Oseen
ksp-monitor=true
#reuse-prec=1
ksp-maxit-reuse=20
snes-monitor=true
snes-maxit=100
snes-rtol=1.e-5
define-pressure-cst=true
verbose_solvertimer=1
snes-line-search-type=l2
solver.nonlinear.apply-dof-elimination-on-initial-guess=0

[dfluid.bdf]
order=2



[dfluid.alemesh]
type=harmonic#winslow
use-adaptive-penalisation=true
pc-type=gamg
ksp-maxit=60
reuse-prec=true
ksp-converged-reason=true

[dfluid]
preconditioner.attach-pcd=1

[dfluid.pcd]
# CL at inflow of pressure
bc-type-with-Dirichlet=Robin#Dirichlet#Robin
# CL at outflow of pressure 
bc-type-with-Neumann=Dirichlet#Neumann
# Mp Fp^-1 Ap : 1, other Ap Fp^-1 Mp
order=1

diffusion=Laplacian#BTBt

[dfluid]
ksp-type=fgmres#gcr#fgmres
fgmres-restart=100

# fieldsplit-schur-inner-solver.use-outer-solver=0
# fieldsplit-schur-inner-solver.pc-type=gamg#jacobi
# fieldsplit-schur-inner-solver.ksp-type=gmres#preonly
# fieldsplit-schur-upper-solver.use-outer-solver=0
# fieldsplit-schur-upper-solver.pc-type=gamg#jacobi
# fieldsplit-schur-upper-solver.ksp-type=gmres#preonly

# fieldsplit
pc-type=fieldsplit
fieldsplit-fields=0->(0,2,3),1->(1)
fieldsplit-type=schur #additive, multiplicative, schur
fieldsplit-schur-fact-type=upper#full #diag, lower, upper, full
fieldsplit-schur-precondition=self


# block velocity
[dfluid.fieldsplit-0]
# ksp-type=gmres#preonly
# pc-type=sor
# ksp-maxit=10

ksp-type=preonly
#ksp-maxit=10
#ksp-rtol=1e-5
pc-type=fieldsplit

#fieldsplit-use-components=1
#fieldsplit-fields=0->(0),1->(1),2->(2),3->(4,5,6,7,8,9)
#fieldsplit-fields=0->(0,1,2),1->(4,5,6,7,8,9)
fieldsplit-fields=0->(0),1->(2,3)
fieldsplit-type=additive
[dfluid.fieldsplit-0.fieldsplit-0]
ksp-type=preonly
pc-type=fieldsplit
fieldsplit-use-components=1
fieldsplit-fields=0->(0),1->(1),2->(2)
fieldsplit-type=additive
[dfluid.fieldsplit-0.fieldsplit-0.fieldsplit-0]
ksp-type=gmres#richardson#gmres#preonly
pc-type=jacobi#sor#jacobi#sor
ksp-maxit=10#2#10
[dfluid.fieldsplit-0.fieldsplit-0.fieldsplit-1]
ksp-type=gmres#richardson#gmres#preonly
pc-type=jacobi#sor#jacobi#sor
ksp-maxit=10#2#10
[dfluid.fieldsplit-0.fieldsplit-0.fieldsplit-2]
ksp-type=gmres#richardson#gmres#preonly
pc-type=jacobi#sor#jacobi#sor
ksp-maxit=10#2#10

[dfluid.fieldsplit-0.fieldsplit-1]
ksp-type=preonly
pc-type=lu#swor
# ksp-type=gmres#preonly
# pc-type=sor
# ksp-maxit=10
# [dfluid.fieldsplit-0.fieldsplit-2]
# ksp-type=gmres#preonly
# pc-type=sor
# ksp-maxit=10
# [dfluid.fieldsplit-0.fieldsplit-3]
# ksp-type=preonly
# pc-type=lu#swor
# ksp-maxit=10

[dfluid.fieldsplit-1]
ksp-type=fgmres#preonly#fgmres#preonly#gmres
ksp-maxit=1#15
ksp-rtol=1e-3

pc-type=pcd

pcd.Mp.pc-type=gamg
pcd.Mp.ksp-type=preonly#gmres
pcd.Mp.pc-gamg-reuse-interpolation=1
#pcd.Mp.mg-coarse.redundant.pc-factor-mat-solver-package-type=petsc
#pcd.Mp.pc-gamg-nsmooths=2
pcd.Ap.pc-type=gamg
pcd.Ap.ksp-type=preonly#gmres
pcd.Ap.pc-gamg-reuse-interpolation=1
#pcd.Ap.mg-coarse.redundant.pc-factor-mat-solver-package-type=petsc

[expansion]
filename=$cfgdir/expansion.json
pc-type=gasm#gamg
ksp-type=preonly
ksp-monitor=1