
directory=toolboxes/fluid/backwardfacingstep/turbulence_2d

case.dimension=2
#case.discretization=P1P1G1

[fluid]
filename=$cfgdir/cfd2d_turbulence.json

mesh.filename=$cfgdir/step-turbulence.geo
#mesh.filename=$cfgdir/step-turbulence_bis.geo
gmsh.hsize=0.01#0.005 #0.01#0.005#0.01

solver=Newton#Picard#Newton #Picard,Newton
#verbose_solvertimer=1
snes-maxit=30#10#100#25#15#100
#time-stepping=Theta
#snes-line-search-type=l2#   basic #l2 #basic

#linearsystem-cst-update=false
#jacobian-linear-update=false

#use-semi-implicit-time-scheme=1
#use-semi-implicit-turbulence-coupling=1
snes-line-search-type=nleqerr #l2#basic #bt,basic,l2
snes-rtol=1e-3
#pseudo-transient-continuation=1

error-if-solver-not-converged=0

snes-monitor=true
#ksp-monitor=true
#pc-type=gasm#lu #gasm,lu
ksp-type=preonly
stabilization-gls=1
stabilization-gls.type=supg#supg-pspg#supg #pspg

distance-to-wall.enabled=1
distance-to-wall.markers=wall_horizontal
distance-to-wall.markers=wall_vertical

[fluid.turbulence]
#filename=/ssd/chabannes/Feelpp/work_toolboxes-refactoring-bis/fppc.build/bf_turbulence.json
ksp-monitor=0
snes-monitor=1
solver=Newton#Picard#Linear#Picard#Linear#Picard#Linear
snes-maxit=10#2#25#2#10#25
snes-rtol=1e-5
error-if-solver-not-converged=0
#ksp-converged-reason=
#snes-converged-reason=
pc-type=gasm
#ksp-type=preonly
verbose_solvertimer=1
[fluid.turbulence.fluid_turbulence_SA]
stabilization=1
stabilization.type=dw#supg#unusual-gls
#stabilization.gls.parameter.hsize.method=meas
#stabilization.gls.shock-capturing=1
#verbose=1
#time-stepping=Theta
bdf.order=2

[fluid.turbulence.fluid_turbulence_k]
stabilization=1
stabilization.type=supg
#stabilization.gls.parameter.hsize.method=barycenter
stabilization.do-assembly-with-grad-diffusion-coeff=0
#bdf.order=2
#time-stepping=Theta
#stabilization.gls.shock-capturing=1
[fluid.turbulence.fluid_turbulence_epsilon]
stabilization=1
stabilization.type=supg
#stabilization.gls.parameter.hsize.method=barycenter
stabilization.do-assembly-with-grad-diffusion-coeff=0
#bdf.order=2
#time-stepping=Theta
stabilization.gls.shock-capturing=0


[fluid.bdf]
order=2
#strategy-high-order-start=1

[ts]
#time-step=0.01#0.001#0.005#0.01#1#0.01#0.005#0.01
#time-final=10
#restart=true
restart.at-last-save=true
#time-initial=0.52#0.0002
#save.freq=2
