/Makefile.in
/auto
/feel.aux
/gfdl.aux
/life-manual.aux
/life-manual.idx
/life-manual.log
/life-manual.out
/life-manual.pdf
/life-manual.toc
/myapp-hypercube.pos
/myapp-simplex.pos
/myintegrals-hypercube.pos
/myintegrals-simplex.pos
/mymesh-hypercube.pos
/mymesh-simplex.pos
/randomnotes.aux
/randomnotes.log
/stokes2.cpp
/tt.html
/version.tex
/verstion.tex
