mu=4
directory=qs_laplacian_2d

[gmsh]
filename=$top_srcdir/data/gmsh/feelpp/feel.geo

[functions]
g=sin(mu*pi*x)*cos(mu*pi*y):x:y:mu
#g=sin(pi*x)*cos(pi*y)*cos(pi*z)
f=1

[exporter]
format=ensightgold
geometry=static

