
directory=toolboxes/magnetic/square/case_magnetostatic_regularized

case.dimension=2
#case.discretization=Pchv1

[magnetic]
filename=$cfgdir/case_regularized.json

null-space.method=ams #saddle-point #regularized-formulation #ams
on.type=elimination_symmetric

verbose_solvertimer=1
#verbose=1
#verbose_solvertimer=1
#pc-type=lu#gamg
#ksp-type=preonly
snes-monitor=1

pc-type=ams
pc-view=1
ksp-type=minres
ksp-monitor=1
#ksp-atol=1e-9
#ksp-rtol=1e-5#1e-10
#ksp-verbose=1
#ksp-view=1
ksp-converged-reason=1
