[magnetic]
preconditioner.attach-ams=1
pc-type=ams
ksp-type=gmres #gmres, minres
#gmres-restart=200
#pc-view=1
#ksp-monitor=1
#ksp-atol=1e-9
#ksp-stol=1e-5
ksp-rtol=1e-4
snes-rtol=1e-3
snes-ksp-rtol=1e-4
#error-if-solver-not-converged=0