[magnetic]
preconditioner.attach-ams=1
ksp-type=fgmres
fgmres-restart=200
gcr-restart=100
pc-type=fieldsplit
fieldsplit-type=schur
fieldsplit-schur-fact-type=upper #full #diag, lower, upper, full
fieldsplit-schur-precondition=selfp#self

fieldsplit-schur-inner-solver.use-outer-solver=0
fieldsplit-schur-inner-solver.pc-type=jacobi
fieldsplit-schur-inner-solver.ksp-type=preonly
fieldsplit-schur-upper-solver.use-outer-solver=0
fieldsplit-schur-upper-solver.pc-type=jacobi
fieldsplit-schur-upper-solver.ksp-type=preonly

[magnetic.fieldsplit-0]
pc-type=ams
ksp-type=gmres#preonly
[magnetic.fieldsplit-1]
ksp-type=fgmres#minres#preonly#gmres
ksp-maxit=30#00#50#15
ksp-rtol=1e-5#1e-3
#ksp-type=preonly
pc-type=jacobi #gasm#gamg#lu
