/#matrixpetsc.hpp#
/CMakeFiles
/CMakeLists.txt~
/Makefile
/Makefile.in
/TAGS
/backend.cpp~
/cmake_install.cmake
/liblifealg.a
/lu.hpp~
/matrixgmm.cpp~
/matrixgmm.hpp~
/solvernonlinear.hpp~
/svd.hpp~
/vectorublas.cpp~
/vectorublas.hpp~
