directory=feelpp-avnir/testQ1/with_voigt

E = 1
nu = 0.45
# moment_x = true
# test_partial = true
# force_on_point = true

gmsh.filename = $cfgdir/hexa.geo


# Order = 2      # encore à voir si on peut def l'ordre à l'exécution

# ForceApply_Point = true   # fait rien pour l'instant
# Dirichlet_Point = true

[functions]
f={10000*x+y,0,0}:x:y:z            # force appliquée -> si ça marche comme ça tant mieux
# f =  {x,y,z}:x:y:z    # {-6*(y-0.5),6*(x-0.5),0}:x:y:z     # {6*z,0,-6*(x-0.5)}:x:y:z     # {0,-6*z,6*(y-0.5)}:x:y:z
g = {0,0,0}             # condition de Dirichlet -> vaut mieux peut etre le coder en dur




# [solid]

# verbose = 1
# pc-type=gamg #lu,gamg,gasm,ml      P1: gamg ; P2: lu
# ksp-monitor=1