# Wave Number - should be 0
[parameters]
k=0
e=1

[on]
type=elimination_symmetric

# magneto static = main backend
[ms]
reuse-prec=1
ksp-type=minres
pc-type=ms
#pc-type=lu
ksp-verbose=1
ksp-monitor=1
ksp-rtol=1e-6
show-preconditioner-options=0
ksp-view=0
pc-view=1

[ms]
# AFP    = Augmented Free Space (two blocks)
# SIMPLE = ID
type=AFP

# First block
[ms.11]
reuse-prec=1
ksp-verbose=1
ksp-monitor=0
#ksp-type=cg
#pc-type=lu
pc-type=ams
ksp-view=0
pc-view=1
ksp-rtol=1e-8
backend.rebuild_op=false
# Used only if ms.11.pc-type=AS
[ms.11.1]
reuse-prec=1
ksp-type=preonly
pc-type=boomeramg
pc-hypre-boomeramg-tol=0.0
pc-hypre-boomeramg-max-iter=1
pc-hypre-boomeramg-max-levels=1
pc-hypre-boomeramg-interp-type=8
pc-hypre-boomeramg-coarsen-type=10
pc-hypre-boomeramg-relax-type-all=6
pc-hypre-boomeramg-agg-nl=1
ksp-view=0
pc-view=1
show-preconditioner-options=1
[ms.11.2]
reuse-prec=1
ksp-type=preonly
pc-type=boomeramg
pc-hypre-boomeramg-tol=0.0
pc-hypre-boomeramg-max-iter=1
pc-hypre-boomeramg-max-levels=1
pc-hypre-boomeramg-interp-type=8
pc-hypre-boomeramg-coarsen-type=10
pc-hypre-boomeramg-relax-type-all=6
pc-hypre-boomeramg-agg-nl=1
ksp-view=0
pc-view=1

# Second block
[ms.22]
ksp-rtol=1e-8
reuse-prec=1
#backend.rebuild=true
#on.type=penalisation
ksp-verbose=1
ksp-monitor=0
ksp-type=cg
pc-type=boomeramg
#pc-type=hypre
#pc-hypre-type=boomeramg
