myModel=$cfgdir/precAFP2D.mod
saveTimers=false
generateMD=true
test-case=1
functions.m=1

[gmsh]
filename=precAFP2D.geo

[exporter]
export=true

[functions]
#rhs
j={(2*pi*pi+0)*pi*cos(pi*x)*sin(pi*y),-(2*pi*pi+0)*pi*sin(pi*x)*cos(pi*y)}:x:y
#exact sol
a={pi*cos(pi*x)*sin(pi*y),-pi*sin(pi*x)*cos(pi*y)}:x:y
#curl(exact sol)
c=(-2.)*pi*pi*cos(pi*x)*cos(pi*y):x:y
#permeability
m=1.:x:y

