directory=toolboxes/heat/test-para

case.dimension=2
case.discretization=P1

[heat]
filename=$cfgdir/test.json

mesh.filename=$cfgdir/test.geo

#verbose=1
#verbose_solvertimer=1
# pc-type=gamg
# ksp-converged-reason=


[heat.bdf]
order=2

[ts]
time-initial=0
time-step=0.1
time-final=1
