directory=toolboxes/fluid/moving_body/three_sphere_2D/

case.dimension=2

[fluid]
exporter.use-static-mesh=0
filename=$cfgdir/three_sphere_2d.json
#solver=Oseen #Oseen,Picard,Newton
solver=Newton
ksp-monitor=true
pc-type=lu
ksp-type=preonly
#reuse-prec=1
ksp-maxit-reuse=20
snes-monitor=true
snes-maxit=100
#define-pressure-cst=true
#define-pressure-cst.method=lagrange-multiplier#algebraic
verbose_solvertimer=1

#body.articulation.method=p-matrix

[fluid.alemesh]
pc-type=lu
[fluid.bdf]
order=2

[ts]
time-step=0.001
time-final=0.7
restart.at-last-save=true
time-initial=0

[exporter]
freq=1
