[gmsh]
filename=heatshield.geo
hsize = 1.5e-1

[heatshield1]
run.mode=2
run.sampling.size=10
export-solution=false

[heatshield.bdf]
order=1
time-step=0.2
time-final=20

[backend-primal]
ksp-rtol=1e-13
reuse-prec=false

[backend-dual]
ksp-rtol=1e-13
reuse-prec=false

[backendl2]
ksp-rtol=1e-13
reuse-prec=true #resolution with the same matrix, only rhs change


[crb]
#use-predefined-WNmu=true
#use-predefined-test-sampling=true
dimension-max=15
Nm=1
output-index=1
error-max=1e-14
error-type=1
show-mu-selection=true
seek-mu-in-complement=true
rebuild-database=true
solve-dual-problem=true
cvg-study=true
is-model-executed-in-steady-mode=true
all-procs-have-same-sampling=false
#vary-only-parameter-components=1 100
#user-parameters=0.5 0.1
load-elements-database=true
results-repo-name=HeatShield

[crb.scm]
use-scm=false
check-eigenvector-tol=1e-9

