mu=4
directory=qs_laplacian/feelpp3d

[gmsh]
filename=$cfgdir/feelpp3d.geo

[functions]
g=sin(mu*pi*x)*cos(mu*pi*y):x:y:mu
#g=sin(pi*x)*cos(pi*y)*cos(pi*z)
f=1

[exporter]
format=ensightgold
geometry=static

