name: Feelpp PKG Reusable Workflow
on:
    workflow_call:
        inputs:
            flavor:
                description: 'Flavor of the distribution'
                required: true
                type: string
                default: "ubuntu"
            dist:
                description: 'Name of the distribution'
                required: true
                type: string
                default: "jammy"
            version:
                description: 'Version of Feel++ packages'
                required: true
                type: string
            skip:
                description: 'Skip docker build'
                required: false
                type: string
                default: ""

jobs:

  version:
    if: ${{ !contains( github.event.inputs.skip, 'skip docker' ) }}
    runs-on: self-docker
    outputs:
        version: ${{ steps.get_version.outputs.version }}
    steps:
    - uses: actions/checkout@v4
      with:
#        lfs: true
        token: ${{ secrets.CR_PAT }}
        submodules: recursive
    - name: Get version
      id: get_version
      run: |
            cmake --preset feelpp
            cmake --build --preset feelpp -t dist
            COMPONENT=feelpp
            main_version=$(echo build/$COMPONENT/feelpp-*.tar.gz | sed  "s/build\/feelpp\/feelpp-\([0-9.]*\)-*\([a-z.0-9]*\).tar.gz/\1/g")
            extra_version=$(echo build/$COMPONENT/feelpp-*.tar.gz | sed "s/build\/feelpp\/feelpp-\([0-9.]*\)-*\([a-z.0-9]*\).tar.gz/\2/g")
            if [ -z $extra_version ]; then
                version=$(echo build/$COMPONENT/feelpp-*.tar.gz | sed  "s/build\/feelpp\/feelpp-\([0-9.]*\)-*\([a-z.0-9]*\).tar.gz/\1/g" )
            else
                version=$(echo build/$COMPONENT/feelpp-*.tar.gz | sed  "s/build\/feelpp\/feelpp-\([0-9.]*\)-*\([a-z.0-9]*\).tar.gz/\1-\2/g" )
            fi
            echo "main_version=$main_version"
            echo "extra_version=$extra_version"
            echo "version=$version"
            echo "version=$version" >> $GITHUB_OUTPUT

  docker:
    if: ${{ !contains( github.event.inputs.skip, 'skip docker' ) }}
    needs: [version]
    runs-on: self-docker
    strategy:
      fail-fast: false
      matrix:
        include:
          - {
              service: "feelpp",
              flavor: "${{ github.event.inputs.flavor }}",
              dist: "${{ github.event.inputs.dist }}",
              version: "${{ needs.version.outputs.version }}",
              tag: "v${{ needs.version.outputs.version }}-${{ github.event.inputs.dist }}",
              dir: "feelpp/tools/scripts/pkg/",
              dockerfile: "Dockerfile",
            }
    name: Build and Push feelpp/${{ matrix.service }}:${{ matrix.tag }}

    steps:
    - uses: actions/checkout@v4
      with:
#        lfs: true
        token: ${{ secrets.CR_PAT }}
        submodules: recursive
    -
      name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    -
      name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.CR_PAT }}
    -
      name: Build ${{ matrix.service }}:${{ matrix.tag }}
      uses: docker/build-push-action@v4
      with:
        context: ${{ matrix.dir }}
        tags: ghcr.io/feelpp/${{ matrix.service }}:${{ matrix.tag }},ghcr.io/feelpp/${{ matrix.service }}:${{ matrix.dist }}
        file: ${{ matrix.dir }}/${{ matrix.dockerfile }}
        build-args: |
          IMAGE=${{ matrix.flavor }}:${{ matrix.dist }}
          FLAVOR=${{ matrix.flavor }}
          DIST=${{ matrix.dist }}
          VERSION=${{ matrix.version }}
        push: true
        secrets: |
            GIT_AUTH_TOKEN=${{ secrets.CR_PAT }}
    -
      name: Build ${{ matrix.service }}-dev:${{ matrix.tag }}
      uses: docker/build-push-action@v4
      with:
        context: ./${{ matrix.dir }}
        tags: ghcr.io/feelpp/${{ matrix.service }}-dev:${{ matrix.tag }},ghcr.io/feelpp/${{ matrix.service }}-dev:${{ matrix.dist }}
        file: ${{ matrix.dir }}/${{ matrix.dockerfile }}-dev
        build-args: TAG=${{ matrix.tag }}
        push: true
        secrets: |
            GIT_AUTH_TOKEN=${{ secrets.CR_PAT }}