
directory=toolboxes/electric/HL-31_H1

case.discretization=P1 #P1,P2

[electric]
filename=$cfgdir/HL-31_H1.json

mesh.filename=girder:{file:5af862d6b0e9574027047fc8}
# mesh.filename=/$cfgfile/HL-31_H1-coarse.msh
gmsh.partition=1

#[thermo-electric.gmsh]
#scale=1000 # from mm to m

[electric]
verbose_solvertimer=1
pc-type=gamg
ksp-monitor=1
